<main class="container-fluid px-0">
    <div class="container-fluid fondoI p-0 m-0" id="padre">
        <div class="container-fluid text-center" id="hijo">
            <div class="row py-1" style="background: rgba(255, 0, 0, 0.1);">
                <div class="col-sm">
                    <h1 class="text-light my-4 py-5"><b>Información importante</b></h1>
                </div>
            </div>
        </div> 
    </div>

    <div class="container-fluid fondoI1 p-0 m-0">
        <div class="container text-center my-4">
            <a type="button" class="btn px-5 mx-0" href="#" onclick="btn4();" id="btn4" style="font-size: 20px;"><b>Información Compañía</b></a>
            <a type="button" class="btn px-5 mx-0" href="#" onclick="btn5();" id="btn5" style="font-size: 20px;"><b>Privacidad y Política</b></a>
            <a type="button" class="btn px-5 mx-0" href="#" onclick="btn6();" id="btn6" style="font-size: 20px;"><b>Términos y Condiciones</b></a>
        </div>

        <div class="container my-5" id="section4">
            <div class="card px-0" style="border-radius: 10px; border-color: #7A3E48;"> 
                <div class="card-body" style="padding: 35px;">
                    <img class="img-fluid ml-3 mb-3" src="./assets/image 25.png" style="float: right;">
                    <p style="font-size: 20px;" class="text-justify">Los datos personales proporcionados por el usuario serán comunicados a la empresa ofertante de empleo cuando el usuario haya aplicado a una oferta publicada por la misma, con el exclusivo propósito de posibilitar el contacto con esta última.</p>
                    <p style="font-size: 20px;" class="text-justify">Por otro lado, los datos proporcionados por el Usuario podrán ser tratados por aquellos proveedores, incluidas empresas del grupo de Pet’s Work, que nos prestan servicios y sólo cuando sea necesario para asistirnos en la prestación de nuestros servicios.</p>
                    <p style="font-size: 20px;" class="text-justify my-0">Pet’s Work ha suscrito los correspondientes contratos de encargo de tratamiento con cada uno de los proveedores que prestan servicios a Pet’s Work para asegurar que los datos personales se tratan con la debida confidencialidad, seguridad y únicamente para la finalidad para la que han sido comunicados, teniendo un acceso limitado a la información del usuario y actuando siguiendo las instrucciones de Pet’s Work.</p>
                </div>
            </div>
        </div>

        <div class="container my-5" id="section5">
            <div class="container text-center my-2">
                <a type="button" class="btn px-5 mx-0" href="#" onclick="btn51();" id="btn51" style="font-size: 20px;"><b>Política y Privacidad</b></a>
                <a type="button" class="btn px-5 mx-0" href="#" onclick="btn52();" id="btn52" style="font-size: 20px;"><b>Avisos Legales</b></a>
            </div>

            <div class="container my-5" id="section51">
                <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;"> 
                    <div class="card-body" style="padding: 35px;">
                        <img class="img-fluid ml-3 mb-3" src="./assets/image 26.png" style="float: right;">
                        <p style="font-size: 20px;" class="text-justify">Los titulares legales de Pet’s Work le informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos de carácter personal de los usuarios que puedan ser recabados durante la navegación a través del sitio Web https://petswork.online.</p>
                        <p style="font-size: 20px;" class="text-justify">En este sentido, los titulares legales de Pet’s Work garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 3/2018, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD).</p>
                        <p style="font-size: 20px;" class="text-justify my-0">El uso de sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas en el Aviso Legal.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;">
                            <div class="card-body" style="padding: 35px;">
                                <p style="font-size: 30px;"><b>1. Identidad del responsable</b></p>
                                <p style="font-size: 20px;" class="text-justify my-0">- Titular: Los titulares legales de Pet’s Work.</p>
                                <p style="font-size: 20px;" class="text-justify my-0">- NIF: 45687583s</p>
                                <p style="font-size: 20px;" class="text-justify my-0">- Domicilio: Lima, Lima - Perú</p>
                                <p style="font-size: 20px;" class="text-justify my-0">- Correo electrónico: petswork.online@gmail.com</p>
                                <p style="font-size: 20px;" class="text-justify my-0">- Sitio Web: https://petswork.online</p>
                            </div>   
                        </div>
                        <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;">
                            <div class="card-body" style="padding: 35px;">
                                <p style="font-size: 28px;"><b>3. Obtención de datos personales</b></p>
                                <p style="font-size: 20px;" class="text-justify">Para navegar por https://petswork.online es necesario que facilite sus datos personales al momento de registrarse.</p>
                                <p style="font-size: 20px;" class="text-justify">A fin de crear una cuenta en el presente portal web el usuario debe proporcionar todos los datos personales que solicite Pet’s Work.</p>
                                <p style="font-size: 20px;" class="text-justify">El usuario podrá incluir en su perfil datos e información adicional, asimismo, el usuario podrá subir su C.V. en nuestro portal web en formato PDF.</p>
                                <p style="font-size: 20px;" class="text-justify my-0">Además, guardamos determinada información asociada con el uso que el usuario hace de nuestro portal web, como los puestos de trabajo a los que ha aplicado, la duración de su actividad en nuestro portal web e información que proporciona cuando realiza la evaluación de alguna empresa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;">
                            <div class="card-body" style="padding: 35px;">
                                <p style="font-size: 30px;"><b>2. Principios aplicados en el tratamiento de datos</b></p>
                                <p style="font-size: 20px;" class="text-justify">- Principio de licitud, lealtad y transparencia: El Titular siempre requerirá el consentimiento para el tratamiento de los datos personales que puede ser para uno o varios fines específicos sobre los que el Titular informará al Usuario previamente con absoluta transparencia.</p>
                                <p style="font-size: 20px;" class="text-justify">- Principio de minimización de datos: El Titular solicitará solo los datos estrictamente necesarios para el fin o los fines que los solicita.</p>
                                <p style="font-size: 20px;" class="text-justify">- Principio de limitación del plazo de conservación: El Titular mantendrá los datos personales recabados durante el tiempo estrictamente necesario para el fin o los fines del tratamiento. El Titular informará al Usuario del plazo de conservación correspondiente según la finalidad.</p>
                                <p style="font-size: 20px;" class="text-justify">- Principio de integridad y confidencialidad: Los datos personales recabados serán tratados de tal manera que su seguridad, confidencialidad e integridad están garantizadas.</p>
                                <p style="font-size: 20px;" class="text-justify my-0">- El Titular toma las precauciones necesarias para evitar el acceso no autorizado o uso indebido de los datos de sus usuarios por parte de terceros.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;">
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>4. Derechos</b></p>
                        <p style="font-size: 20px;" class="text-justify">El titular le informa que sobre sus datos personales tiene derecho a:</p>
                        <p style="font-size: 20px;" class="text-justify">- Acceder a sus datos</p>
                            <p style="font-size: 20px;" class="text-justify">- Conocer las características de su tratamiento</p>
                            <p style="font-size: 20px;" class="text-justify">- Ejercer su derecho de actualización o cancelación</p>
                            <p style="font-size: 20px;" class="text-justify">- Oponerse al tratamiento de sus datos personales para fines específicos</p>
                            <p style="font-size: 20px;" class="text-justify">Asimismo, el usuario puede en todo momento revocar el consentimiento otorgado, así como limitar el usu o divulgación de sus datos personales.</p>
                            <p style="font-size: 20px;" class="text-justify">Debe tenerse en cuenta que los referidos derechos están sujetos a determinadas limitaciones, tal y como establece la legislación aplicable.</p>
                            <p style="font-size: 20px;" class="text-justify">Las solicitudes individuales correspondientes al ejercicio de los derechos previamente descritos terminarán de atenderse dentro del plazo asignado por las regulaciones legales pertinentes, el mismo que será contabilizado a partir del momento en que Pet's Work confirme la recepción de la solicitud correspondiente.</p>
                            <p style="font-size: 20px;" class="text-justify">En relación a los datos facilitados a las empresas ofertantes de empleo con los que el Usuario haya contactado, se deja constancia que éste último podrá ejerccer sus derechos frente a los mismos.</p>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;">
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>5. Finalidades y Legitimación</b></p>
                        <p style="font-size: 20px;" class="text-justify">El objetivo de Pet’s Work mediante los servicios ofrecidos a través de su portal web es facilitar en el Perú el contacto entre los usuarios y las empresas reclutadoras que ofrecen puestos de trabajo en dicho país (usuarios profesionales u ofertantes de empleo), ofreciendo herramientas y servicios que apoyan el proceso de búsqueda de empleo en el Perú. La base legal para el tratamiento de los datos del usuario es la ejecución del contrato de prestación de servicios según el Aviso Legal.</p>
                        <p style="font-size: 20px;" class="text-justify">En concreto, los datos que el Usuario facilitará al registrarse y/o utilizar el portal web y/o aplicación web de Pet’s Work serán tratados con las siguientes finalidades:</p>
                            <p style="font-size: 20px;" class="text-justify">- Realizar una correcta gestión de nuestros servicios consistentes en:</p>
                            <p style="font-size: 20px;" class="text-justify pl-4"><b>Creación de una cuenta en el portal web de Pet’s Work:</b></p>
                            <p style="font-size: 20px;" class="text-justify pl-4">Posibilitar el contacto con los ofertantes de empleo mediante la aplicación a ofertas de empleo. En este sentido, en función del nivel de privacidad que sea elegido, los ofertantes de empleo podrán acceder a los datos de contacto y al C.V. del usuario.
                            Posibilitar la búsqueda de los usuarios a través de la base de datos registrada en el portal web de Pet’s Work.</p>
                            <p style="font-size: 20px;" class="text-justify pl-4"><b>Edición y gestión de C.V. a través del área privada de usuario:</b></p>
                            <p style="font-size: 20px;" class="text-justify pl-4">Recepción automática y gratuita de ofertas de empleo por vía internet, en caso de que así se solicite. Dicho uso estará sujeto a las propias condiciones y políticas de privacidad de los terceros titulares, de las cuales no somos responsables.</p>
                            <p style="font-size: 20px;" class="text-justify pl-4">Gestión de nuestros servicios y tareas comerciales diarias, incluyendo recordatorios, avisos técnicos, actualizaciones, alertas de seguridad, y mensajes de soporte, entre otros.</p>
                            <p style="font-size: 20px;" class="text-justify pl-4">Moderar y mostrar para el beneficio general de los usuarios del portal web, las evaluaciones de las empresas, las revisiones de las entrevistas, los informes de salarios y otros contenidos que hayan sido proporcionadas por los distintos usuarios.</p>
                                <p style="font-size: 20px;" class="text-justify my-0 pl-5">- Resolver las quejas y reclamos que el usuario presente en relación con el servicio brindado por Pet’s Work.</p>
                                <p style="font-size: 20px;" class="text-justify my-0 pl-5">- Prevención de abusos y fraudes en el uso de nuestros servicios (actividades fraudulentas, ataques de denegación de servicios, envío de spam, entre otros).</p>
                                <p style="font-size: 20px;" class="text-justify my-0 pl-5">- Transferencia de datos a organismos y autoridades públicas, siempre y cuando sean requeridos de conformidad con las disposiciones legales y reglamentarias aplicables.</p>
                            <p style="font-size: 20px;" class="text-justify pl-4">Se deja expresa constancia que la prestación de nuestros servicios está sujeta al envío de las referidas comunicaciones e información de Pet’s Work. Caso contrario, Pet’s Work no podrá brindar el servicio solicitado.</p>
                            <p style="font-size: 20px;" class="text-justify pl-4 my-0">Pet’s Work deja expresa constancia que cualquier tratamiento de datos personales que realice se ajustará a lo establecido por la legislación vigente en el Perú en la materia (incluyendo más no limitándose a la Ley N° 29733 y su Reglamento), y estos datos personales solo podrán ser utilizados con propósitos limitados, de conformidad y con sujeción a lo expuesto en el presente documento.</p>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;"> 
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>6. Plazo de conservación de los datos</b></p>
                        <p style="font-size: 20px;" class="text-justify my-0">La cuenta del usuario en el portal Pet’s Work se mantendrá activa, en tanto (i) sea necesaria para proporcionar nuestros servicios, (ii) el usuario no haya solicitado su cancelación; y/o (iii) sea necesario para cumplir con las obligaciones legales; durante este periodo Pet’s Work se obliga a mantener el registro de los datos personales proporcionados.</p>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;"> 
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>7. Seguridad</b></p>
                        <p style="font-size: 20px;" class="text-justify">Dejamos constancia que, con el objeto de evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales o información confidencial facilitada por los usuarios, se han adoptado las medidas y niveles de seguridad de protección de datos personales legalmente requeridos, e instalado todos las medidas técnicas a nuestro alcance. Salvo lo señalado en el presente documento u obligación legal, la información proporcionada por el usuario no se transmitirá a terceros, se guardará en estricta confidencialidad y será tratada de acuerdo a las políticas de privacidad y seguridad que el usuario declara conocer.</p>
                        <p style="font-size: 20px;" class="text-justify my-0">Sin perjuicio de lo señalado, cabe mencionar que lamentablemente la transmisión de información a través de internet no es completamente segura y pese haber adoptado medidas de seguridad y medios técnicos adecuados, no podemos garantizar la completa seguridad de los datos transmitidos a través de internet. Por lo tanto, cualquier transmisión de información realizada por el usuario a través de internet queda bajo su propio riesgo.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container my-5" id="section52">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;">
                            <div class="card-body" style="padding: 35px;">
                                <p style="font-size: 30px;"><b>1. Identificación y Titularidad</b></p>
                                <p style="font-size: 20px;" class="text-justify">En cumplimiento del artículo 10 de la Ley 34/2002, de Servicios de la Sociedad de la Información y Comercio Electrónico, el Titular debe exponer sus datos identificativos.</p>
                                <p style="font-size: 20px;" class="text-justify my-0">- Titular: Los titulares legales de Pet’s Work.</p>
                                <p style="font-size: 20px;" class="text-justify my-0">- NIF: 45687583s</p>
                                <p style="font-size: 20px;" class="text-justify my-0">- Domicilio: Lima, Lima - Perú</p>
                                <p style="font-size: 20px;" class="text-justify my-0">- Correo electrónico: petswork.online@gmail.com</p>
                                <p style="font-size: 20px;" class="text-justify my-0">- Sitio Web: https://petswork.online</p>
                            </div>   
                        </div>
                        <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;">
                            <div class="card-body" style="padding: 35px;">
                                <p style="font-size: 28px;"><b>4. Medidas de seguridad</b></p>
                                <p style="font-size: 20px;" class="text-justify">Los datos personales que facilite al Titular pueden ser almacenados en bases de datos automatizadas o no, cuya titularidad corresponde en exclusiva a los titulares legales de Pet’s Work, que asume todas las medidas de índole técnica, organizativa y de seguridad que garantizan la confidencialidad, integridad y calidad de la información contenida en las mismas de acuerdo con lo establecido en la normativa vigente en protección de datos.</p>
                                <p style="font-size: 20px;" class="text-justify my- 0">No obstante, debe ser consciente de que las medidas de seguridad de los sistemas informáticos en Internet no son enteramente fiables y que, por tanto el Titular no puede garantizar la inexistencia de virus u otros elementos que puedan producir alteraciones en los sistemas informáticos (software y hardware) del usuario o en sus documentos electrónicos y ficheros contenidos en los mismos aunque el Titular pone todos los medios necesarios y toma las medidas de seguridad oportunas para evitar la presencia de estos elementos dañinos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;">
                            <div class="card-body" style="padding: 35px;">
                                <p style="font-size: 28px;"><b>2. Finalidad</b></p>
                                <p style="font-size: 20px;" class="text-justify my- 0">La finalidad del sitio Web https://petswork.online es web de publicación de ofertas de empleo.</p>
                            </div>
                        </div>
                        <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;">
                            <div class="card-body" style="padding: 35px;">
                                <p style="font-size: 28px;"><b>3. Condiciones de Uso</b></p>
                                <p style="font-size: 20px;" class="text-justify">La utilización del sitio Web le otorga la condición de usuario, e implica la aceptación completa de todas las cláusulas y condiciones de uso incluidas en las páginas:</p>
                                    <p style="font-size: 20px;" class="text-justify my-0">- Aviso Legal</p>
                                    <p style="font-size: 20px;" class="text-justify my-0">- Política de Privacidad</p>
                                <p style="font-size: 20px;" class="text-justify">Si no estuviera conforme con todas y cada una de estas cláusulas y condiciones abstenerse a utilizar este sitio Web.</p>
                                <p style="font-size: 20px;" class="text-justify">El acceso a este sitio Web no supone, en modo alguno, el inicio de una relación comercial con los titulares legales de Pet’s Work.</p>
                                <p style="font-size: 20px;" class="text-justify">A través de este sitio Web, el Titular le facilita el acceso y la utilización de diversos contenidos que el Titular o sus colaboradores han publicado por medio de Internet.</p>
                                <p style="font-size: 20px;" class="text-justify my-0">A tal efecto, usted está obligado y comprometido a no utilizar cualquiera de los contenidos del sitio Web con fines o efectos ilícitos, prohibidos en este Aviso Legal o por la legislación vigente, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los contenidos, los equipos informáticos o los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático propios o contratados por los titulares legales de Pet’s Work, de otros usuarios o de cualquier usuario de Internet.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;">
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 28px;"><b>5. Tratamiento de Datos Personales</b></p>
                        <p style="font-size: 20px;" class="text-justify my-0">Usted puede consultar toda la información relativa al tratamiento de datos personales que recoge el Titular en la página de Política de Privacidad.</p>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;">
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>6. Finalidades y Legitimación</b></p>
                        <p style="font-size: 20px;" class="text-justify">El Titular ha obtenido la información, los materiales incluidos en el sitio Web de fuentes que considera fiables, pero, si bien ha tomado todas las medidas razonables para asegurar que la información contenida es correcta, el Titular no garantiza que sea exacta, completa o actualizada. Los titulares legales de Pet’s Work declina expresamente cualquier responsabilidad por error u omisión en la información contenida en las páginas de este sitio Web.</p>
                        <p style="font-size: 20px;" class="text-justify">Queda prohibido transmitir o enviar a través del sitio Web cualquier contenido ilegal o ilícito, virus informáticos, o mensajes que, en general, afecten o violen derechos de el Titular o de terceros.</p>
                        <p style="font-size: 20px;" class="text-justify">Los contenidos de https://petswork.online tienen únicamente una finalidad informativa y bajo ninguna circunstancia deben usarse ni considerarse como oferta de venta, solicitud de una oferta de compra ni recomendación para realizar cualquier otra operación, salvo que así se indique expresamente.</p>   
                        <p style="font-size: 20px;" class="text-justify pl-4 my-0">Los titulares legales de Pet’s Work no son responsables de los daños y perjuicios que pudieran derivarse de la utilización de la información del sitio Web o de la contenida en las redes sociales del Titular.</p>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;">
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>7. Enlaces a otros sitios Web</b></p>
                        <p style="font-size: 20px;" class="text-justify">El Titular puede proporcionar acceso a sitios Web de terceros mediante enlaces con la finalidad exclusiva de informar sobre la existencia de otras fuentes de información en Internet en las que podrá ampliar los datos ofrecidos en el sitio Web.</p>
                        <p style="font-size: 20px;" class="text-justify">Estos enlaces a otros sitios Web no suponen en ningún caso una sugerencia o recomendación para que usted visite las páginas web de destino, que están fuera del control del Titular, por lo que los titulares legales de Portalempleo.online no es responsable del contenido de los sitios web vinculados ni del resultado que obtenga al seguir los enlaces.</p>
                        <p style="font-size: 20px;" class="text-justify">Asimismo, los titulares legales de Pet’s Work no responde de los links o enlaces ubicados en los sitios web vinculados a los que le proporciona acceso.</p>
                        <p style="font-size: 20px;" class="text-justify">El establecimiento del enlace no implica en ningún caso la existencia de relaciones entre los titulares legales de Pet’s Work y el propietario del sitio en el que se establezca el enlace, ni la aceptación o aprobación por parte del Titular de sus contenidos o servicios.</p>   
                        <p style="font-size: 20px;" class="text-justify pl-4 my-0">Si accede a un sitio Web externo desde un enlace que encuentre en https://petswork.online usted deberá leer la propia política de privacidad del otro sitio web que puede ser diferente de la de este sitio Web.</p>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;"> 
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>8. Propiedad intelectual e industrial</b></p>
                        <p style="font-size: 20px;" class="text-justify">Todos los derechos están reservados.</p>   
                        <p style="font-size: 20px;" class="text-justify pl-4 my-0">Todo acceso a este sitio Web está sujeto a las siguientes condiciones: Reproducción, almacenaje permanente y la difusión de los contenidos o cualquier otro uso que tenga finalidad pública o comercial queda expresamente prohibida sin el consentimiento previo expreso y por escrito de los titulares legales de Pet’s Work.</p>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;">
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>9. Limitación de responsabilidad</b></p>
                        <p style="font-size: 20px;" class="text-justify">La información y servicios incluidos o disponibles a través de este sitio Web pueden incluir incorrecciones o errores tipográficos. De forma periódica el Titular incorpora mejoras y/o cambios a la información contenida y/o los servicios que puede introducir en cualquier momento.</p>
                        <p style="font-size: 20px;" class="text-justify">El Titular no declara ni garantiza que los servicios o contenidos sean interrumpidos o que estén libres de errores, que los defectos sean corregidos, o que el servicio o el servidor que lo pone a disposición estén libres de virus u otros componentes nocivos sin perjuicio de que el Titular realiza todos los esfuerzos en evitar este tipo de incidentes.</p>
                        <p style="font-size: 20px;" class="text-justify">Los titulares legales de Pet’s Work declina cualquier responsabilidad en caso de que existan interrupciones o un mal funcionamiento de los servicios o contenidos ofrecidos en Internet, cualquiera que sea su causa. Asimismo, el Titular no se hace responsable por caídas de la red, pérdidas de negocio a consecuencia de dichas caídas, suspensiones temporales de fluido eléctrico o cualquier otro tipo de daño indirecto que te pueda ser causado por causas ajenas a el Titular.</p>   
                        <p style="font-size: 20px;" class="text-justify pl-4 my-0">Antes de tomar decisiones y/o acciones con base a la información incluida en el sitio Web, el Titular le recomienda comprobar y contrastar la información recibida con otras fuentes.</p>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;"> 
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>10. Derecho de exclusión</b></p>
                        <p style="font-size: 20px;" class="text-justify my-0">Los titulares legales de Pet’s Work se reserva el derecho a denegar o retirar el acceso al sitio Web y los servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios que incumplan cualquiera de las condiciones de este Aviso Legal.</p>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;"> 
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>11. Jurisdicción</b></p>
                        <p style="font-size: 20px;" class="text-justify">Este Aviso Legal se rige íntegramente por la legislación peruana.</p>
                        <p style="font-size: 20px;" class="text-justify my-0">Siempre que no haya una norma que obligue a otra cosa, para cuantas cuestiones se susciten sobre la interpretación, aplicación y cumplimiento de este Aviso Legal, así como de las reclamaciones que puedan derivarse de su uso, las partes acuerdan someterse a los Jueces y Tribunales, con renuncia expresa de cualquier otra jurisdicción que pudiera corresponderles.</p>
                    </div>
                </div>
                <div class="card px-0 my-4" style="border-radius: 10px; border-color: #7A3E48;"> 
                    <div class="card-body" style="padding: 35px;">
                        <p style="font-size: 30px;"><b>12. Consultas</b></p>
                        <p style="font-size: 20px;" class="text-justify my-0">En caso de que usted tenga cualquier duda acerca de estas Condiciones legales o quiera realizar cualquier comentario sobre este sitio Web, puede enviar un mensaje de correo electrónico a la dirección petswork.online@gmail.com.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="container my-5" id="section6">
            <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;"> 
                <div class="card-body" style="padding: 35px;">
                    <img class="img-fluid ml-3 mb-3" src="./assets/image 27.png" style="float: right;">
                    <p style="font-size: 20px;" class="text-justify">Esta sección establece los Términos y Condiciones para el uso de los contenidos y servicios, del portal sitio web especificado. </p>
                    <p style="font-size: 20px;" class="text-justify">Todo usuario acepta, desde el mismo momento en el que accede, sin ningún tipo de reserva, el contenido de las presentes Condiciones Legales, la “Política de Privacidad”, así como, en su caso, las Condiciones Particulares que puedan complementar, sustituir o modificar las referidas condiciones en relación con los servicios y contenidos del contenidos del Portal Web acordadas. </p>
                    <p style="font-size: 20px;" class="text-justify">El usuario deberá leer detenidamente las Condiciones Legales antes del uso y/o contratación de cualquier servicio del Portal Web bajo su entera responsabilidad.</p>
                    <p style="font-size: 20px;" class="text-justify">Para acceder a nuestro portal web el Usuario debe tener 18 años de edad o más. En caso de acceder al Portal Web o utilizarlo en calidad de empleado o representante de un Usuario Profesional, se considera declarar y garantizar que tiene la autoridad para vincular al usuario profesional a las presentes Condiciones Legales.</p>
                    <p style="font-size: 20px;" class="text-justify my-0">Pet’s Work podrá modificar sin previo aviso el contenido de términos y condiciones. Por ello recomienda al usuario leerlas cada vez que acceda al Portal Web. Asimismo, Pet’s Work podrá modificar sin previo aviso el diseño, presentación y/o configuración de este sitio web, así como algunos o todos los servicios ofrecidos, y añadir servicios nuevos.</p>
                </div>
            </div>
            <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;"> 
                <div class="card-body" style="padding: 35px;">
                    <p style="font-size: 30px;"><b>1. Obligaciones de los usuarios en el Portal Web Pet’s Work</b></p>
                    <p style="font-size: 20px;" class="text-justify">Las siguientes obligaciones deben cumplirlas todos los usuarios, ya sea persona o empresa.</p>
                    <p style="font-size: 20px;" class="text-justify">El usuario se compromete a:</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- Hacer un uso diligente del Portal Web y de sus servicios y únicamente para la finalidad del mismo. </p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- Debe cumplir con todas las leyes aplicables y las presentes Condiciones Legales del Portal Web, respetando a los demás usuarios.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- Respetar los derechos de terceros al utilizar servicios del Sitio Web. Por tanto, queda prohibida la reproducción, distribución, transmisión, adaptación o modificación, por cualquier medio y en cualquier forma, de los contenidos del Sitio Web, propiedad de Pet’s Work o de terceros, (textos, diseños, gráficos, informaciones, bases de datos, archivos de sonido y/o imagen, marcas, software, logos, etc.) y demás elementos de este Sitio Web, salvo autorización previa de sus legítimos titulares o cuando así resulte permitido por la ley.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- Publicar contenido en el Portal Web de conformidad con lo dispuesto más adelante en las presentes Condiciones Legales.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- No utilizar mecanismos, software o scripts en relación con la utilización del Sitio Web.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- No bloquear, sobrescribir, modificar o copiar contenidos, a no ser que ello sea estrictamente necesario para la correcta utilización de los servicios del Sitio Web y para la finalidad descrita anteriormente.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- No realizar ninguna acción que pueda perjudicar la funcionalidad de la infraestructura del Sitio Web, especialmente para sobrecargarla. </p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- No realizar ninguna acción que dañe o inutilice los materiales e informaciones contenidos en la misma, los sistemas de información o los documentos, archivos o cualquier clase de contenido almacenado en cualquier equipo informático (hacking) del Portal Web, los Usuarios del mismo y/o terceros.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- En caso de registrarse en el Portal Web, debe custodiar la contraseña por él seleccionada, evitando el uso de la misma por terceros.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- De conformidad con la política anti-spamming de Pet’s Work, el usuario se abstendrá de recabar o utilizar datos y contenido de otros Usuarios publicado el Portal Web para actividades con fines promocionales o publicitarios, así como de remitir comunicaciones comerciales de cualquier clase y a través de cualquier soporte no solicitado ni previamente consentido por Pet’s Work y/o los interesados.</p> 
                </div>
            </div>
            <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;"> 
                <div class="card-body" style="padding: 35px;">
                    <p style="font-size: 30px;"><b>2. Otras obligaciones del usuario en el Portal Web Pet’s Work</b></p>
                    <p style="font-size: 20px;" class="text-justify">Los usuarios no deberán utilizar el anuncio publicado para:</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- Publicar información falsa, imprecisa o engañosa.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- Publicar en nombre de otra persona, viva o muerta.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- Publicitar negocios o captar clientes (incluyendo, pero no limitado a: posiciones para empresas de tipo multinivel, franquicias, clubes de membresías, distribución de productos, o cualquiera que requiera inversión monetaria por parte del usuario) que no se encuentre expresamente permitido en las presentes Condiciones Legales</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- Publicar cadenas de cartas o esquemas piramidales</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- Publicar opiniones o noticias, anuncios comerciales, promoción de productos o servicios</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">- Obtener información masiva de los Usuarios, en particular sus CV, para usos distintos del objeto del Sitio Web</p>
                    <p style="font-size: 20px;" class="text-justify">En relación con los datos obtenidos de los candidatos (personas), los usuarios Profesionales deben cumplir lo siguiente:
                    </p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">1. Acceder a los datos de los candidatos para las finalidades explícitas y legítimas de acuerdo con los servicios utilizados y/o específicamente contratados y de conformidad con lo establecido en las presentes Condiciones Legales y únicamente para finalidades de reclutamiento.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">2. Tratar la información de los candidatos con la máxima reserva y confidencialidad y de acuerdo con lo establecido en la legislación sobre protección de datos personales que resulte en todo momento de aplicación.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">3. No ceder o transferir los datos personales a personas físicas o jurídicas distintas de las que pudieran haber sido expresamente autorizadas y para usos distintos de la finalidad del Portal Web, que es la puesta en contacto, a través del Portal Web o de otra herramienta de software de reclutamiento ofrecida por Pet’s Work, entre particulares que buscan trabajo con ofertantes de empleo que buscan candidatos para ofrecerles trabajo.</p>
                        <p style="font-size: 20px;" class="text-justify my-0 pl-4">4. Proteger los datos personales de candidatos a los que tenga acceso garantizando su confidencialidad e impidiendo que terceros no autorizados puedan tener acceso a los mismos.</p>
                </div>
            </div>
        </div>
    </div>

    

</main>

<script>
    function btn1() {
    $("#section1").show();
    $("#section2").hide();
    $("#section3").hide();
    $("#btn1").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn2").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn3").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};

function btn2() {
    $("#section2").show();
    $("#section1").hide();
    $("#section3").hide();
    $("#btn2").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn1").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn3").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};

function btn3() {
    $("#section3").show();
    $("#section2").hide();
    $("#section1").hide();
    $("#btn3").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn2").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn1").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};
function btn4() {
    $("#section4").show();
    $("#section5").hide();
    $("#section6").hide();
    $("#btn4").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn5").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn6").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};

function btn5() {
    $("#section5").show();
    $("#section4").hide();
    $("#section6").hide();
    $("#btn5").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn4").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn6").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    btn51();
};

function btn51() {
    $("#section51").show();
    $("#section52").hide();
    
    $("#btn51").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn52").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};
function btn52() {
    $("#section52").show();
    $("#section51").hide();
    
    $("#btn52").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn51").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    };

function btn6() {
    $("#section6").show();
    $("#section5").hide();
    $("#section4").hide();
    $("#btn6").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn5").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn4").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};

function getQueryVariable(variable) {
    // Estoy asumiendo que query es window.location.search.substring(1);
    var query = window.location.search.substring(1); //"product_id=32&cat_id=1&sessionid=123";
    var vars = query.split("&");
    //alert(vars);
    for (var i=0; i < vars.length; i++) {
        var pair = vars[i].split("="); 
        if (pair[0] == variable) {
            return pair[1];
        }
    }
    return false;
}

function cargar() {
    var boton = getQueryVariable("id");

    switch (boton) {
        case '1':
            btn1();
            break;
    
        case '2':
            btn2();
            break;
        case '3':
            btn3();
            break;
        case '4':
            btn4();
            break;
        case '5':
            btn5();
            break;
        case '6':
            btn6();
            break;
        default:
            btn1();
    }
    
};

</script>

{{!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('navbar').innerHTML = '<img src="/assets/LOGO_Mesa de trabajo 1.png" width="30" height="30" class="d-inline-block align-top" alt=""> Pet’s Work | Persona';
    });
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementsByClassName("nav-item")[1].innerHTML = '<li class="nav-item dropdown"><a class="nav-link dropdown-toggle ingresar p-0 mt-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/icon/perfil.png" style="height: 30px;"></a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="persona/editar/{{user.id}}">Editar perfil</a><div class="dropdown-divider"></div><a class="dropdown-item" href="/salir">Cerrar Sesión</a></div></li>';
    });
</script> --}}