<main class="container-fluid px-0">
    <div class="container-fluid fondoI1 p-0 m-0" id="padre">
        <div class="container-fluid text-center" id="hijo">
            <div class="row py-1" style="background: rgba(255, 0, 0, 0.1);">
                <div class="col-sm">
                    <h1 class="text-light my-4 py-5"><b>Institucional</b></h1>
                </div>
            </div>
        </div> 
    </div>

    <div class="container-fluid fondoN1 p-0 m-0">
        <div class="container text-center my-4">
            <a type="button" class="btn px-5 mx-0" href="#" onclick="btn1();" id="btn1" style="font-size: 20px;"><b>¿Quiénes somos?</b></a>
            <a type="button" class="btn px-5 mx-0" href="#" onclick="btn2();" id="btn2" style="font-size: 20px;"><b>Misión y Visión</b></a>
            <a type="button" class="btn px-5 mx-0" href="#" onclick="btn3();" id="btn3" style="font-size: 20px;"><b>Soporte Técnico</b></a>
        </div>

        <div class="container my-5" id="section1">
            <div class="card px-0" style="border-radius: 10px; border-color: #7A3E48;"> 
                <div class="card-body" style="padding: 35px;">
                    <p style="font-size: 30px;"><b>¿Quiénes somos?</b></p>
                    <img class="img-fluid ml-3 mb-3" src="./assets/image 25.png" style="float: right;">
                    <p style="font-size: 20px;" class="text-justify">Pet’s Work es una plataforma donde se ponen en contacto empresas y/o emprendimientos, cuya finalidad es facilitar el intercambio de relaciones.</p>
                    <p style="font-size: 20px;" class="text-justify">Asimismo, el directorio de avisos de trabajo se encuentran categorizados y las publicaciones de los avisos de trabajo y la posibilidad de obtener un contacto directo con las personas interesadas en dichos avisos de trabajo. Teniendo en cuenta que la empresa no toma posesión de estos puestos, ni prepara características, ni ofrece garantía respecto de los puestos: sólo vincula la oferta y la demanda.</p>
                    <p style="font-size: 20px;" class="text-justify my-0">Además brindamos diferentes servicios como la adopción y donación para albergues de animales.</p>
                </div>
            </div>
        </div>

        <div class="container my-5" id="section2">
            <div class="card px-0" style="border-radius: 10px; border-color: #7A3E48;"> 
                <div class="card-body" style="padding: 35px;">
                    <img class="img-fluid mr-3 mb-3" src="./assets/image 26.png" style="float: left;">
                    <p style="font-size: 30px;"><b>Misión</b></p>
                    <p style="font-size: 20px;" class="text-justify">Ser el mejor portal de empleo laboral a nivel nacional e internacional, además de otorgar otros servicios para las mascotas.</p>
                    <p style="font-size: 30px;"><b>Visión</b></p>
                    <p style="font-size: 20px;" class="text-justify my-0">Brindar el mejor servicio relacionado con las mascotas en la búsqueda de trabajos con un alto nivel técnico y práctico, dirigidos a nuestros clientes para satisfacer con excelencia sus necesidades.</p>
                </div>
            </div>
        </div>

        <div class="container my-5" id="section3">
            <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;"> 
                <div class="card-body" style="padding: 35px;">
                    <p style="font-size: 30px;"><b>Consultas y/o sugerencias</b></p>
                    <img class="img-fluid mx-4 mb-3" src="./assets/image 27.png" style="float: right;">
                    <p style="font-size: 20px;" class="text-justify">En caso de que la persona o la empresa tiene consultas y/o sugerencias respecto a nuestro portal de empleo Pet’s Work, puede comunicarse a través de nuestro correo electrónico petswork.online@gmail.com o visitarnos a nuestras redes sociales de Facebook, Twitter e Instagram.</p>
                    <p style="font-size: 20px;" class="text-justify">En caso de querer Comunicarse con un asesor puede hacerlo al siguiente número de WhastApp:</p>
                    <p style="font-size: 20px; color: #7A3E48;" class="text-justify"><b><a href="https://api.whatsapp.com/send?phone=+994403501585" style="color: #7A3E48" target="_blank">+994 40 350 15 85</a></b></p>
                    <p style="font-size: 20px;" class="text-justify my-0">Además puede acceder a nuestro manual de usuario <a href="https://drive.google.com/file/d/1C84Jg2o1j0QJ9pwKtipzlsExh6KQfS2e/view?usp=sharing" style="color: #7A3E48;" target="_blank"><b>AQUÍ</b></a>.</p>
                </div>
            </div>

            <div class="card px-0 my-3" style="border-radius: 10px; border-color: #7A3E48;"> 
                <div class="card-body" style="padding: 35px;">
                    <p style="font-size: 30px;"><b>Actualizaciones</b></p>
                    <img class="img-fluid mr-3 mb-3" src="./assets/image 28.png" style="float: left;">
                    <p style="font-size: 20px;" class="text-justify">Nos reservamos el derecho de actualizar la presente Política de Privacidad cuando así se considere oportuno mediante la publicación de una versión actualizada en el portal web de Pet's Work. Si realizamos alguna modificación que pudiera afectar los derechos del Usuario se le notificará por email o mediante un aviso en el portal web de Pet’s Work.</p>
                    <p style="font-size: 20px;" class="text-justify">Recomendamos al usuario que revise de forma periódica la Política de Privacidad para estar actualizado de todas las novedades.</p>
                    <p style="font-size: 20px;" class="text-justify">Asimismo, el usuario declara que el uso continuado de nuestros servicios tras publicar o, en su caso, enviar un aviso acerca de nuestros cambios en esta Política de Privacidad implica que la recopilación, la utilización y tratamiento de sus Datos Personales están sujetos a la Política de Privacidad actualizada. </p>
                    <p style="font-size: 20px;" class="text-justify my-0">Brindar el mejor servicio relacionado con las mascotas en la búsqueda de trabajos con un alto nivel técnico y práctico, dirigidos a nuestros clientes para satisfacer con excelencia sus necesidades. Asimismo, al momento de registrarse a Pet’s Work para luego procesar sus datos personales bajo los términos descritos en este presente documento, datos cuyo tratamiento es necesario para que Pet’s Work pueda proporcionar sus servicios de la mejor manera posible.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function btn1() {
    $("#section1").show();
    $("#section2").hide();
    $("#section3").hide();
    $("#btn1").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn2").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn3").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};

function btn2() {
    $("#section2").show();
    $("#section1").hide();
    $("#section3").hide();
    $("#btn2").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn1").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn3").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};

function btn3() {
    $("#section3").show();
    $("#section2").hide();
    $("#section1").hide();
    $("#btn3").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn2").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn1").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};
function btn4() {
    $("#section4").show();
    $("#section5").hide();
    $("#section6").hide();
    $("#btn4").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn5").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn6").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};

function btn5() {
    $("#section5").show();
    $("#section4").hide();
    $("#section6").hide();
    $("#btn5").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn4").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn6").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    btn51();
};

function btn51() {
    $("#section51").show();
    $("#section52").hide();
    
    $("#btn51").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn52").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};
function btn52() {
    $("#section52").show();
    $("#section51").hide();
    
    $("#btn52").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn51").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    };

function btn6() {
    $("#section6").show();
    $("#section5").hide();
    $("#section4").hide();
    $("#btn6").css({"background-color": "rgba(151, 44, 180, 1)", "color": "white"});
    $("#btn5").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
    $("#btn4").css({"background-color": "rgba(185,88,53,0.1)", "color": "black"});
};

function getQueryVariable(variable) {
    // Estoy asumiendo que query es window.location.search.substring(1);
    var query = window.location.search.substring(1); //"product_id=32&cat_id=1&sessionid=123";
    var vars = query.split("&");
    //alert(vars);
    for (var i=0; i < vars.length; i++) {
        var pair = vars[i].split("="); 
        if (pair[0] == variable) {
            return pair[1];
        }
    }
    return false;
}

function cargar() {
    var boton = getQueryVariable("id");

    switch (boton) {
        case '1':
            btn1();
            break;
    
        case '2':
            btn2();
            break;
        case '3':
            btn3();
            break;
        case '4':
            btn4();
            break;
        case '5':
            btn5();
            break;
        case '6':
            btn6();
            break;
        default:
            btn1();
    }
    
};

</script>


{{!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('navbar').innerHTML = '<img src="/assets/LOGO_Mesa de trabajo 1.png" width="30" height="30" class="d-inline-block align-top" alt=""> Pet’s Work | Persona';
    });
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementsByClassName("nav-item")[1].innerHTML = '<li class="nav-item dropdown"><a class="nav-link dropdown-toggle ingresar p-0 mt-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/icon/perfil.png" style="height: 30px;"></a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="persona/editar/{{user.id}}">Editar perfil</a><div class="dropdown-divider"></div><a class="dropdown-item" href="/salir">Cerrar Sesión</a></div></li>';
    });
</script> --}}