<header><!-- fixed-top -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #CEF3F5;">
        <div class="container">
            {{#if user}}
            <a class="navbar-brand" href="/usuario">
                <div id="navbar">
                    <img src="/assets/LOGO_Mesa de trabajo 1.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Pet’s Work
                </div>
            </a>
            {{else}}
            <a class="navbar-brand" href="/">
                <div id="navbar">
                    <img src="/assets/LOGO_Mesa de trabajo 1.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Pet’s Work
                </div>
            </a>
            {{/if}}

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {{!-- <li class="nav-item">
                        <a class="nav-link" href="">Dona</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="">Adopta</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="">Servicios</a>
                    </li> --}}

                    <li class="nav-item">
                        <a class="nav-link" href="/nosotros">Nosotros</a>
                    </li>
                    
                    {{#if user}}
                    {{!-- <li class="nav-item">
                    <a class="nav-link " href="/usuario">Perfil</a>
                    </li> --}}

                    <li class="nav-item">
                        <a class="nav-link " href="/salir">Cerrar Sesión</a>
                    </li>

                    {{else}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Regístrate
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/registroE">Empresa</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/registroP">Persona</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/ingreso">Ingresa</a>
                    </li>

                    {{!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ingresar" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ingresa
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/ingresa/empresa">Empresa</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/ingresa/persona">Persona</a>
                        </div>
                    </li> --}}
                    
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>