<div class="container">
    <div class="modal fade" tabindex="-1" id="modal1">
        <div class="model-title modal-dialog modal-dialog-centered text-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-center">Confirmación de eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="/assets/icon/alerta.png" alt="Alerta" height="100px" width="100px">
                    <h5 class="mt-2">¿Seguro que desea eliminar la postulación?</h5>
                    <h5>
                        <a href="/persona/postular/eliminar/{{aviso.id}}">SÍ</a> | <a href="/persona/filtro/{{aviso.id}}">NO</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" tabindex="-1" id="modal2">
        <div class="model-title modal-dialog modal-dialog-centered text-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-center">Confirmación de eliminación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="/assets/icon/alerta.png" alt="Alerta" height="100px" width="100px">
                    <h5 class="mt-2">¿Seguro que desea eliminar el aviso?</h5>
                    <h5>
                        <a href="/trabajo/eliminar/{{trabajo.id}}">SÍ</a> | <a href="/empresa">NO</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>