<main class="container-fluid px-0 fondo py-4">
    <div class="container justify-content-center align-self-center py-4">
        <h1 class="text-center text-light  pb-3"> REGÍSTRATE</h1>
        <form action="/registroP" method="POST">
            <div class="container justify-content-center pt-5 pb-4" style="background-color: rgba(255, 255, 255, 0.64); text-color: black; border-radius: 10px;">
                <div class="form-row">
                    <div class="form-group col-lg-2 m-0"></div>
                    <div class="form-group col-lg-4 mx-1">
                        <label for="nombreP" class="ml-0">Nombres*:</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingrese sus nombres" required maxlength="20">
                    </div>
                    <div class="form-group col-lg-4 mx-1">
                        <label for="apellidoP" class="ml-0">Apellidos*:</label>
                        <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Ingrese sus apellidos" required maxlength="20">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-2 m-0"></div>
                    <div class="form-group col-lg-4 m-1">
                        <label for="generoP" class="ml-0">Género*:</label>
                        <select class="form-control" name="genero" id="genero">
                            <option hidden selected disabled>Selecciona una opción</option>
                            <option>Masculino</option>
                            <option>Femenino</option>
                            <option>Prefiero no decirlo</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4 m-1">
                        <label for="correoP" class="ml-0">Correo Electrónico*:</label>
                        <input type="email" class="form-control" name="correo" id="correo" placeholder="Ingrese su correo electrónico" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-2 m-0"></div>
                    <div class="form-group col-lg-4 mx-1">
                        <label for="contrasenaP" class="ml-0">Contraseña*:</label>
                        <input type="password" class="form-control" name="contrasena" id="contrasena" placeholder="Ingrese su contraseña" required minlength="8" maxlength="12">
                    </div>
                    <div class="form-group col-lg-4 mx-1">
                        <label for="edadP" class="ml-0">Edad*:</label>
                        <input type="number" class="form-control" name="edad" id="edad" placeholder="Ingrese su edad" required min="18">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-2 m-0"></div>
                    <div class="form-group col-lg-4 mx-1">
                        <label for="celularP" class="ml-0">Celular*:</label>
                        <input type="number" class="form-control" name="celular" id="celular" placeholder="Ingrese su número de celular" required min="900000000" max="999999999">
                    </div>
                    <div class="form-group col-lg-4 mx-1">
                        <label for="dniP" class="ml-0">DNI*:</label>
                        <input type="number" class="form-control" name="codigo" id="codigo" placeholder="Ingrese su DNI" required min="11111111" max="99999999">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-4 m-0"></div>
                    <div class="form-group col-lg-4 mx-1">
                        <label for="paisP" class="ml-0">País*:</label>
                        <select class="form-control" name="pais" id="pais">
                            <option hidden selected disabled>Selecciona una opción</option>
                            <option>Perú</option>
                            <option>Argentina</option>
                            <option>Brasil</option>
                            <option>Bolivia</option>
                            <option>Chile</option>
                            <option>Ecuador</option>
                            <option>Otro</option>
                        </select>
                    </div>
                </div>
            </div>
            
            {{#if message}}
                <div class="alert alert-danger alert-dismissible fade col-lg-4 mx-auto show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/if}}

            <div class="container text-center py-4">
                <button type="submit" class="btn px-4">REGISTRAR</button>
                <div class="col-lg m-0 mt-4 text-light">
                    <p class="m-0">¿Ya tiene cuenta?</p>
                </div>
                <div class="col-lg m-0 text-light">
                    <a href="/ingreso" style="color: white;">Iniciar Sesión</a>
                </div>
            </div>
        </form>
    </div>
</main>